*{
     overflow-x: hidden; 
}
.sidebar{
    background-color:#1E1E1E;
    height: 800px;
    width : 6%;
    border-radius: 0px 20px 20px 00px;
}
.sidebar ul li {
list-style: none;
padding-top:50px ;
}
.sidebar ul{
 padding-top: 100px;
}
.sidebar ul li a{
    text-decoration: none;
    color : white ;
}
body{
    background: linear-gradient(160deg,#62a5e0,#16d03295);
}
#profil .frst{
    width : 100%;
   font-weight : 600;
   padding : 2rem ;
   border-radius : 16px;
}
@media (max-width:1000px) {
    #profil select {
        margin-top : 20px;
    }
}

#profil img{
    width : 40% ;
    height : 60% ;
    margin-top : 8%;
    
}

@media (max-width:450px) {
    .wlcm a .card{
        height : 90%;
    }
}
#profil select {
    background-color: #1B96C4;
    border: 0px solid;
    border-radius : 15px;
    color : white ;
    font-weight : 600;
    width : 55% ; 
    height : 2.8rem;
    font-size: 1.2rem;
}
#profil .dates {
    background-color: #000000;
    opacity : 0.68;
    border: 0px solid;
    border-radius : 45px;
    color : white ;
    width : 55% ; 
    height : 20.8rem;
    margin-left : 22%;
}
#profil .dates ul{
    margin-right : 20%;
}
